@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+ID:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #27476E;
    font-family: "Fira Sans", "Roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 150px 1fr;
}

.header-section {
    background-color: #001D4A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
}

.logo-heading {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 15px;
}

.logo-heading svg {
    height: 100px;
    width: 100px;
    fill: #437bbe;
}

.logo-heading h5 {
    font-size: 2rem;
    color: #ECA400;
    font-family: "Playwrite ID";
}