@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+ID:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #27476E;
    font-family: "Fira Sans", "Roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 150px 1fr;
    position: relative;
}

.header-section {
    background-color: #001D4A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
}

.logo-heading {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 15px;
}

.logo-heading svg {
    height: 100px;
    width: 100px;
    fill: #437bbe;
}

.logo-heading h5 {
    font-size: 2rem;
    color: #ECA400;
    font-family: "Playwrite ID";
}

#add-book{
    padding: 12px 30px;
    font-size: 1.8rem;
    border: 2px solid #ECA400;
    outline: none;
    border-radius: 10px;
    background-color: #437bbe;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: 0.2s ease;
}

#add-book:hover {
    background-color: #ECA400;
    border: 2px solid rgb(255, 255, 255);
}

/* ---dialog/form section--- */

dialog {
    position: absolute;
    justify-self: center;
    align-self: center;
}

form {
    display: grid;
    grid-template-columns: repeat(1fr, auto);
    gap: ;
}

form div:nth-of-type(-n+4){
    display: flex;
    flex-direction: column;
}